.footerGrid{
    display: flex;
flex-direction: column;
    text-align: center;
    
}
.svgs{
    width: 100%; /* Make the SVG fill the width of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    }
.Socials {
    display: flex;
    justify-content: center;
    gap: 20px; /* This sets space between the child elements */
}

.instagram{
    fill: #C13584; /* Facebook blue */
    display: inline-block;
    width: 10%; 
}
.youtube{
    fill: #FF0000; /* Facebook blue */
    display: inline-block;
    width: 10%;   
}
.facebook{
    fill: #4267B2; /* Facebook blue */
    display: inline-block;
    width: 12%;
}