/* mobile first */

.HappierSoulMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-bottom: 0.3rem solid #237C91;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.HappierSoulBody
{
    color: var(--text1-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.HappierSoulBody ul {
    padding: 2rem;
    font-size: 1rem;
}
.HappierSoulBody h1 {
  text-align: center;
}

.ContactButton{
    margin-bottom: 2rem;
}
/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {

.HappierSoulMain h1{
    font-size: 2rem;
}

.HappierSoul-body{
padding: 2rem;
}
.HappierSoulBody ul {
    padding: 2rem;
    font-size: 1.5rem;
}
}

/* Styles for desktop */
@media (min-width: 820px) {


    .HappierSoulMain h1{
        font-size: 4rem;
    }
    
    .HappierSoul-body{
    padding: 2rem;
    }
    .HappierSoulBody ul {
        padding: 3rem;
        font-size: 1.7rem;
    }
}

/* Styles for large desktops */
@media (min-width: 1024px) {

    .HappierSoulMain h1{
        font-size: 4rem;
    }
    
    .HappierSoul-body{
    padding: 2rem;
    }
    .HappierSoulBody ul {
        padding:4rem;
        font-size: 2rem;
    }
}

/* Styles for large desktops */
@media (min-width: 1200px) {}