.OmMigMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-bottom: 0.3rem solid #237C91;
    margin-bottom: 1rem;
    padding: 1rem;

}
.omMigBody{
    color: var(--text1-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LinnImage img{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    display: block; /* För att ta bort eventuella mellanrum runt bilden */
    margin: auto; /* Centrerar bilden vertikalt och horisontellt */
}
.OmMigMain h1{
   padding: 1rem;
   text-align: center;
}
.omMigBody p{
    color: var(--text1-color);
    padding: 0.5rem;

}



/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
    .OmMigMain h1{
        padding: 1rem;
        text-align: center;
        font-size: 3rem;
     }
     .omMigBody p{
      font-size: 1.5rem;
     
     }
}



/* Styles for desktop */
@media (min-width: 820px) {
    .OmMigMain h1{
        padding: 1rem;
        text-align: center;
        font-size: 4rem;
     }
     .omMigBody p{
      font-size: 1.5rem;
     
     }
}

/* Styles for large desktops */
@media (min-width: 1024px) {
    .LinnImage img{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        display: block; /* För att ta bort eventuella mellanrum runt bilden */
        margin: auto; /* Centrerar bilden vertikalt och horisontellt */
    }
    .OmMigMain h1{
        padding: 1rem;
        text-align: center;
        font-size: 4rem;
     }
     .omMigBody p{
      font-size: 1.5rem;
     
     }
}

/* Styles for large desktops */
@media (min-width: 1200px) {
    .LinnImage img{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        display: block; /* För att ta bort eventuella mellanrum runt bilden */
        margin: auto; /* Centrerar bilden vertikalt och horisontellt */
    }
    .OmMigMain h1{
        padding: 1rem;
        text-align: center;
        font-size: 4rem;
     }
     .omMigBody p{
      font-size: 1.5rem;
     
     }
}